#taskDiscContainer {
  height: 5.5rem;
  width: 5.5rem;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;  
  border-radius: 50%;
  cursor: pointer; cursor: hand;
}

#taskDiscContainer:hover {
  height: 8rem;
  width: 8rem;
}

.taskDiscContainer-done {
  background-color: var(--COLOR_MAIN_ONE);
}

.taskDiscContainer-pending {
  background-color: var(--COLOR_MAIN_TWO);
}

.taskDiscContainer-delayed {
  border: 0.2rem solid var(--COLOR_MAIN_THREE);
}